body{
    font-family: 'serif';
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}

.head{
    text-align: center;
    position: relative;
}

.first-page-wrapper{
    display: block;
    width: 100%;
}


.big-column{
    font-size: 14px;
    line-height: 20px;
    width: 60%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
}

.first-page-wrapper .sub-wrapper{
    display: inline-block;
    width: 30%;
}
.first-page-wrapper .sub-wrapper .column-2p{
    display: inline-block;
    width: 100% !important;
}

.big-column .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.big-column .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.big-column .headline.hl2{
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.big-column .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.big-column .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.media {
    -webkit-filter: sepia(80%) contrast(1) opacity(0.8);
    filter: sepia(80%) grayscale(1) contrast(1) opacity(0.8);
    mix-blend-mode: multiply;
    width: 70%;
    margin-left: 15%;
}

.body-wrapper-header{
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;    
}

.sub-header{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 8px 0px;
}

.body-wrapper{
    margin:1% 2%;
    display: block;
}


.column-2p{
    width: 22%;
    display: inline-block;
    padding: 1%;
    vertical-align: top;
}

.column-2p + .column-2p{
    border-left: 1px solid #2f2f2f;;
}

.small-news-header{
    text-align: center;
    font-weight: 600;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 1.4em;
    display: block;
}
.small-news-header:before{
    border-top: 0.5px solid #2f2f2f;
    content: '';
    width: 100%;
    display: block;
    height: 5px;
    margin: 0 auto;
}
.small-news-header:after{
    border-top: 0.5px solid #2f2f2f;
    content: '';
    width: 100%;
    display: block;
    height:10px;
    margin: 0 auto;
}

.small-news + .small-news{
    margin-top: 30px;
}
.news-author{
    display:block;
    text-align: right;
    font-style: italic;
    font-size: 0.9em;
}

.event-data{
    color: #000;
}
.event-data + .event-data{
    margin-top: 15px;
}

.event-data:nth-child(even){
    color:#222;
}
.event-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: 550;
}

.bottom{
    display: block;
    position: absolute;
    bottom: 0px;
    /* margin: 0px; */
    width: 99%;
}

.footer{
    padding: 20px;
    position: relative;
    display: block;
    widows: 100%;
    text-align: center;
}

.footer:before{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-top: 0.5px solid #2f2f2f;
    margin: 0 auto;
    padding-bottom: 5px;
}

/* For page 4 */
.image-content-wrapper{
    display: block;
    width: 100%;
    margin: 0;
}

.column1, .column2{
    display: inline-block;
    width: 49%;
}

.figure{
    display: block;
    
}

.figcaption{
    font-style: italic;
    display: block;
    text-align: center;
}

.image-display{
    display: block;
    height: 250px;
    max-width: match-parent;
    margin: auto;
}



